.footer-wrapper {
  background: rgb(20, 20, 20);
  color: white;
}

.footer-content {
  gap: 1rem;
  text-align: center;
  display: flex;
  /* justify-content: center; */
  padding: 1rem 0;
  /* align-items: center; */
}

.footer-content ul li {
  line-height: 2rem;
  list-style: none;
  font-size: 0.75rem;
}

.footer-content h2 {
  font-size: 0.75rem;
  text-align: center;
}

.footer-content a {
  text-decoration: none;
  /* color: rgb(117, 117, 117); */
}
