.search-bar-wrapper {
  text-align: center;
}

.input-container input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 10px;
  outline: none;
  border: none;
}

.input-container input::placeholder {
  text-align: center;
}

.header-items {
  box-shadow: 0 1px 0 rgb(82, 53, 0);
  /* top: 2rem;
    position: sticky; */
}

.header-items ul {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 2rem 0 1rem 0;
  padding: 0.5rem;
}

.header-items li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.line {
  width: 3rem;
  height: 1px;
  background: white;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
  background: black;

  /* Your other styles for sticky navigation */
}
