.popular-phones-title {
  display: flex;
  justify-content: space-between;
  color: white;
}

.popular-phones-title i {
  font-size: 1.5rem;
}

.popular-phones-title h1 {
  font-size: 1.5rem;
}

.popular-phones {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 1.5rem;
  /* overflow: hidden; */
}

.popularPhones-content p {
  color: white;
  text-align: center;
  line-height: 1.5rem;
}

.popularPhones-content {
  box-shadow: 1px 1px 5px rgb(26, 26, 26);
  width: 100%;
  margin: 1.5rem 0 2rem 0;
  border-radius: 10px;
  /* padding: 1rem; */
}

.popularPhones-content img {
  aspect-ratio: 16/21;
  width: 170px;
}

/* UPCOMMING SECTION */

.currentEvents-title {
  display: flex;
  justify-content: space-between;
  color: white;
}

.currentEvents-title i {
  font-size: 1.5rem;
}

.currentEvents-title h1 {
  font-size: 1.5rem;
}

.currentEvents-phones {
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  gap: 1.5rem;
  /* overflow: hidden; */
}

.currentEvents-content p {
  color: white;
  text-align: center;
  line-height: 1.5rem;
}

.currentEvents-content {
  box-shadow: 1px 1px 5px rgb(26, 26, 26);
  width: 100%;
  margin: 1.5rem 0 2rem 0;
  padding: 0.5rem;
}

.currentEvents-content img {
  height: 200px;
  width: 350px;
  object-fit: cover;
  border-radius: 10px;
}

/* OTHER PHONE */

.other-phones-title {
  display: flex;
  justify-content: space-between;
  color: white;
}

.other-phones-title i {
  font-size: 1.5rem;
}

.other-phones-title h1 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

.other-phones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-flow: column; */
  /* overflow-x: auto; */
  gap: 1rem;
}

.otherPhones-content p {
  color: white;
  text-align: center;
  line-height: 1.5rem;
}

.otherPhones-content {
  box-shadow: 1px 1px 5px rgb(26, 26, 26);
  width: 100%;
  /* margin: 1.5rem 0 0 0; */

  /* padding: 1rem; */
  border-radius: 10px;
}

.otherPhones-content img {
  aspect-ratio: 16/21;
  object-fit: cover;
  width: 100%;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper button {
  /* display: none; */
  color: white;
  padding: 0.2rem 0.5rem;
  margin: 1rem 0 2rem 0;
  background: none;
  outline: none;
  /* border: 1px solid rgb(20, 22, 20); */
  border-radius: 10px;
  cursor: pointer;
}

/* #btn1 {
  display: none;
} */
